In [7]:
import pandas as pd

codes = range(65, 91)
ascii = { chr(code): [code] for code in codes }
pd.DataFrame(data=ascii)

,A,B,C,D,E,F,G,H,I,J,...,Q,R,S,T,U,V,W,X,Y,Z
0,65,66,67,68,69,70,71,72,73,74,...,81,82,83,84,85,86,87,88,89,90

In [24]:
message =  [ ord(char) for char in 'CLOUD']
message

[67, 76, 79, 85, 68]

In [47]:
parts = [7, 13]
p, q = parts
max = parts[0] * parts[1]
pub = 5

In [60]:
import math

phi_n = (parts[0] - 1) *  (parts[1] - 1)
phi_n == (14 * 5) + 2

# gdc = pub * priv ≡1(mod φ(n)).
#  ax + by = g = gcd(a, b).
def xgcd(b, a):
    x0, x1, y0, y1 = 1, 0, 0, 1
    while a != 0:
        q, b, a = b // a, a, b % a
        x0, x1 = x1, x0 - q * x1
        y0, y1 = y1, y0 - q * y1
    return  b, x0, y0

b, x, priv = xgcd(phi_n, pub)

In [61]:
def crypt(byte, key, max):
    result = byte
    for _ in range(key - 1):
        result = result * byte % max
    return result
    
encrypted = [ crypt(byte, pub, max) for byte in message ]
encrypted

[58, 20, 53, 50, 87]

In [32]:
decrypted = [ crypt(byte, priv, max) for byte in encrypted ]
decrypted

[67, 76, 79, 85, 68]